body{
    background-color: cornflowerblue;
}
html{
    scroll-behavior: smooth;
}
#headerfont{
    font-size:30px;
    color:white;
    text-align:center;
    animation-name:title;
    animation-duration:6s;
    padding-left:15px;
    position: relative;
    bottom: 12px;
    float:left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@keyframes title{
    0%{
        transform: scale(0.1);
        opacity:0;
    }
    60%{
        transform: scale(1.2);
        opacity:1;
    }
    100%{
        transform: scale(1);
    }
}
#navborder{
    background: rgba(1, 1, 1, 0.5);
    height:50px;
    width:100%;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
}
.container{
    text-align: center;
}
.navlinks{
    display: inline;
    color:white;
    font-size:20px;
    padding:20px;
    position: relative;
    top:12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#slideDiv{
    display:flex;
    justify-content: center;
    position: relative;
    top:90px;
    background-color:cornflowerblue;
}
#slideImages{
    width:auto;
    height:auto;
}
#about{
    width:100%;
    position: absolute;
    top:805px;
    left:0;
    background-color: white;
    height:710px;
    font-size: 20px;
    color: midnightblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top:20px;
}
#educationAndActivities{
    width:100%;
    position: absolute;
    top:1505px;
    left:0;
    background-color: deepskyblue;
    padding-top:20px;
    height:800px;
    color: firebrick;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#projects{
    width: 100%;
    position: absolute;
    top:2310px;
    left:0;
    display: block;
    background-color: #2196F3;
    padding-top: 10px;
}
.projectImage{
    width:100%;
    height:100%;
}
.header{
    width: 100%;
    height: 100%;
    font-size: 50px;
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.para{
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: burlywood;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}