body{
    background-color: white;
}
html{
    scroll-behavior: smooth;
}
#headerfont{
    font-size:30px;
    color:white;
    text-align:center;
    animation-name:title;
    animation-duration:6s;
    padding-left:15px;
    position: relative;
    bottom: 12px;
    float:left;
}
@keyframes title{
    0%{
        transform: scale(0.1);
        opacity:0;
    }
    60%{
        transform: scale(1.2);
        opacity:1;
    }
    100%{
        transform: scale(1);
    }
}
#navborder{
    background: rgba(1, 1, 1, 0.5);
    height:50px;
    width:100%;
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
}
.container{
    text-align: center;
}
.navlinks{
    color:white;
    font-size:20px;
    padding:20px;
    position: relative;
    top:12px;
}
#slideDiv{
    display:flex;
    justify-content: center;
    position: relative;
    top:90px;
}
#slideImages{
    width:auto;
    height:auto;
}
#links{
    position: absolute;
    top:800px;
    left:0;
    right:0;
    display: block;
    background-color: #2196F3;
    padding: 10px;
    grid-gap: 50px 100px;
}
.projectImage{
    width:100%;
    height:100%;
}
.header{
    width: 100%;
    height: 100%;
    font-size: 50px;
    color: aqua;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.para{
    width: 100%;
    height: 100%;
    font-size: 30px;
    color: burlywood;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}